@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Header */
.header {
  padding: 10px 0 8px;
}
.wrapp_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block_logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.block_logo > img {
  width: 64px;
  height: 64px;
}
.logo_text {
  font-family: var(--second_font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #d3ac8c;
  display: none;
}

.nav {
  display: none;
  align-items: center;
  gap: 50px;
  margin: 0 0 0 auto;
}

.nav > a,
.nav_list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav a {
  font-family: var(--second_font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
  color: #001a49;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.burger span {
  width: 28px;
  height: 3px;
  background: black;
  transition: 0.3s;
}

.nav_mob {
  position: fixed;
  inset: 0;
  background: #000;
  padding: 120px 20px 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  color: #fff;
  font-family: var(--second_font);
  font-size: 18px;
  line-height: 1.5;

  overflow-y: auto;
  /* -webkit-overflow-scrolling: touch; */
}

.nav_mob a {
  color: #fff;
  text-decoration: none;
  font-family: var(--second_font);
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.nav_mob.active {
  transform: translateX(0);
}

.nav_mob ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.nav_mob ul a {
  margin: 0;
}

.nav_mob_block {
  margin-bottom: 20px;
  text-align: center;
  color: #818a8c;
  font-weight: 800;
}
.burger.active span {
  background: #fff;
  position: fixed;
  right: 10px;
}
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(-6px, 6px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(-6px, -6px);
}

/* btn course */
.select_course {
  position: relative;
}
.select_course {
  border: none;
  background: transparent;
  padding: 0;
}
.btn_cours {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  letter-spacing: 0.03em;
}

.btn_cours > p {
  font-family: var(--second_font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #001a49;
}
.btn_cours > img {
  margin-left: 10px;
  width: 10px;
  height: 15px;
}
.drop_list {
  z-index: 9;
  background: var(--btn_background_color);
  width: 170px;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 10px;
}

.drop_list.flex {
  display: flex;
}

.drop_list a {
  color: white;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  font-family: var(--main_font);
  text-decoration: none;
}

/* End header */
/* main section */
.hidden-title {
  display: none;
}
.hero_container {
  position: relative;
}
.wrapp_video_block {
  padding-top: 15px;
}
.left_block {
  width: 100%;
  background: var(--block_backround_color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 20px;
}

.for_adapt_height {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wrapp_main_subtitle {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  text-align: center;
  color: #001a49;
  margin-bottom: 10px;
}

.wrapp_main_subtitle_index {
  color: white;
  text-transform: uppercase;
}

.wrapp_main_title {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.41;
  letter-spacing: -0.03em;
  text-align: center;
  color: #001a49;
  margin-bottom: 10px;
}

.wrapp_main_title_index {
  color: white;
  text-transform: uppercase;
  max-width: 600px;
}
.wrapp_main_text {
  margin-bottom: 20px;
  font-family: var(--main_font);
  color: black;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.wrapp_main_text_index {
  color: white;
  max-width: 400px;
}
.main_container_lines {
  display: flex;
  gap: 10px;
  align-items: center;
}
.white_line {
  width: 120px;
  height: 3px;
  background-color: white;
  border-radius: 20px;
}

.block_align {
  text-align: center;
  /* max-width: 620px; */
  width: 100%;
  margin: 0 auto;
}
.left_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 12px;
}
.left_title {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 30px;
}
.left_text {
  font-family: var(--second_font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #25282d;
}
.left_subtitle {
  font-family: var(--second_font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}
.buy_course_btn {
  display: block;
  text-decoration: none;
  background-image: var(--btn_background_color);
  background-color: #0070aa;
  border: solid 2px transparent;
  border-radius: 33px;
  padding: 17px 24px;
  font-family: var(--second_font);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 178px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.buy_course_btn:hover,
.buy_course_btn:focus {
  color: black;
  border: solid 2px #002c43;
  background-image: none;
  background-color: transparent;
}

.video_placeholder {
  max-width: 356px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 12px 24px 0px #818a8c;
  border: none;
  margin-bottom: 30px;
}

/* end main section */
/* about product block */
.wrapp_decoration_block {
  position: relative;
  padding: 30px 0 15px;
}
.second_block {
  padding: 30px 0 15px;
}
.wrapp_about_product {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;

  align-items: center;
}
.block_text {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 598px;
}
.about_title {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.about_text {
  font-family: var(--second_font);
  font-weight: 380;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.about_text_marathon {
  margin: 0 auto;
}

.block_yin {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.second_list {
  flex-wrap: wrap;
  gap: 26px;
  margin-bottom: 30px;
  justify-content: center;
}

.block_yin > li {
  text-align: center;
  max-width: 180px;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
.second_list > li {
  gap: 17px;
}
.block_yin > li > img {
  width: 50px;
  height: 50px;
}
.block_yin > li > p {
  font-family: var(--second_font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.result_btn {
  margin-bottom: 0;
  opacity: 0;
}
.decoration_images_left {
  position: absolute;
  z-index: -1;
  left: -50px;
  width: 178px;
  height: 167px;
  top: -160px;
  clip-path: polygon(50px 0, 100% 0, 100% 100%, 50px 100%);
}

.decoration_images_right {
  position: absolute;
  right: 0;
  bottom: 326px;
  height: 152px;
  width: 51px;
  z-index: -1;
}

/* end about product block */
/* about consumer */
.wrapp_about_consumer {
  padding: 15px 0;
}
.consumer_title {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  text-align: center;
  margin-bottom: 30px;
}
.consumer_list,
.block_yin_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.consumer_list_participation {
  margin-bottom: 40px;
}
.consumer_list_marathon {
  margin-bottom: 40px;
}

.consumer_lesson {
  margin-bottom: 40px;
}

/* .block_yin_list {
  margin-bottom: 40px;
} */
.item_consumer_text,
.block_yin_item {
  width: 100%;
  background: var(--block_backround_color);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  align-items: center;
}

.item_consumer_lesson {
  background: #002c43d9;
}

/* .item_consumer_text > h3 {
  font-family: var(--second_font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
} */
.item_consumer_text > p,
.block_yin_item > p {
  font-family: var(--second_font);
  color: #25282d;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.item_consumer_lesson > p {
  color: white;
}

/* end about consumer */
/* element course */
.block_element_course {
  text-align: left;
}

.block_element_course > .block_btn {
  text-align: center;
}
.wrapp_about_product_down {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.decoration_blue_image {
  display: none;
  position: absolute;
  z-index: -2;
  left: -55px;
  top: -150px;
  width: 225px;
  height: 225px;
  clip-path: polygon(55px 0, 100% 0, 100% 100%, 55px 100%);
}
.decoration_orange_image {
  display: none;
  position: absolute;
  z-index: -1;
  left: 34px;
  top: -10px;
  width: 96px;
  height: 96px;
}
/* feedback section */
.wrapp_feedback_block {
  padding: 15px 0;
}
.feedback_container {
  background: var(--block_backround_color);
  padding: 30px 10px;
  border-radius: 20px;
}
.feedback_container_training {
  padding-bottom: 60px;
}
.feedback_title {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  text-align: center;
  margin-bottom: 30px;
}
.wrapp_feedback_items {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: max-content;
  margin: 0 auto;
}

.wrapp_feedback_part {
  margin-bottom: 40px;
}

.feedback_scroller {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  scrollbar-width: none;
}

.feedback_scroller::-webkit-scrollbar {
  display: none;
}

.wrapp_feedback_center {
  cursor: unset;
  margin-bottom: 40px;
}
.wrapp_feedback_items:active {
  cursor: grabbing;
}

.feedback::-webkit-scrollbar {
  display: none;
}
.feedback_item {
  flex: 0 0 auto;
  width: 300px;
  background-color: #002c43d9;
  padding: 30px;
  color: white;
  border-radius: 20px;
  max-height: 520px;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.feedback_item > div > p {
  font-family: var(--second_font);
}
.name {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 4px;
}
.age {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 4px;
}
.profession {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.feedback {
  font-family: var(--second_font);
  font-size: 16px;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  line-height: 1.5;
}
.background {
  display: none;
}
.feedback::-webkit-scrollbar {
  display: none;
}

/* about teacher block */
.about_teacher_wrapp {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 15px 0;
}

.teacher_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teacher_container .consumer_title {
  margin-bottom: 0;
}
.teacher_img {
  margin-bottom: 25px;
}

.teacher_img_chan {
  margin: 0 auto;
  margin-bottom: 25px;
  display: block;
  max-width: 100%;
  height: auto;
}
.wrapp_left_block_teacher {
  max-width: 615px;
  width: 100%;
  font-family: var(--main_font);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.wrapp_left_block_teacher > h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  text-align: center;
  margin-bottom: 15px;
}
.wrapp_left_block_teacher > div > .name_teacher {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: var(--second_font);
}
.wrapp_left_block_teacher > ul {
  display: flex;
  flex-direction: column;
}
.wrapp_left_block_teacher > .text_about_teacher {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: var(--second_font);
}
.wrapp_right_block_teacher {
  max-width: 420px;
  width: 100%;
}
.teacher_list_text {
  font-family: var(--second_font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/* block form */
.wrapp_block_form {
  padding: 15px 0 0;
}
.left_block_form {
  position: relative;
  border-radius: 20px 20px 0 0;
  padding: 30px 15px 50px;
  background: none;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left_block_form::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #f2dfcf 0%, #ebcbb1 49.57%);
  opacity: 0.39;
  z-index: -1;
  border-radius: 20px 20px 0 0;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.label {
  display: none;
}
.right_block_form {
  font-family: var(--main_font);
  max-width: 580px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right_block_form > h2 {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-align: center;
  color: #001a49;
  margin-bottom: 30px;
}
.last_right_deko {
  position: absolute;
  z-index: -10;
  height: 208px;
  width: 73px;
  right: 0;
  bottom: 100px;
}
.form_info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.06em;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
  font-family: var(--second_font);
}
.form_access {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}
.form_price {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.04em;
  color: #000;
  text-align: center;
}
.form_price > span {
  color: rgb(139, 0, 0);
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#name,
#email {
  width: 100%;
  height: 35px;
  border-radius: 15px;
  box-shadow: -3px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  color: #001a49;
  font-family: var(--second-family);
  letter-spacing: 0.03em;
  padding-right: 19px;
  padding-left: 19px;
}
#email {
  margin-bottom: 15px;
}
.block_number {
  display: flex;
  align-items: center;
  gap: 10px;
}
#phone_region {
  font-family: var(--second_font);
  max-width: 120px;
  width: 100%;
  height: 35px;
  border-radius: 15px;
  box-shadow: -3px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding-left: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px;
  background: url("../img/arrowWhite.svg") no-repeat right 20px center white;
  background-size: 12px;
  color: #001a49;
  cursor: pointer;
}
#phone {
  width: 100%;
  height: 35px;
  border-radius: 15px;
  box-shadow: -3px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding-right: 19px;
  padding-left: 19px;
  color: #001a49;
}

#submit_form_btn {
  text-decoration: none;
  color: white;
  background-color: #0070aa;
  background-image: var(--btn_background_color);
  font-weight: 700;
  border: solid 2px transparent;
  border-radius: 33px;
  font-size: 16px;
  line-height: 1;
  padding: 19px 52px;
  font-family: var(--second_font);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#submit_form_btn:hover,
#submit_form_btn:focus {
  color: black;
  border: solid 2px #002c43;
  background-image: none;
  background-color: transparent;
}

#submit_form_btn.submit_form_btn {
  width: 380px;
  max-width: 100%;
  padding: 19px 12px;
}

/* marathon */
.marathom_img {
  height: auto;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0px 12px 24px 0px #818a8c;
  max-width: 100%;
}
.wrapp_main_text2 {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.marathon_text {
  margin-bottom: 40px;
}

/* footer block */

.wrapp_footer {
  padding: 20px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.wrapp_footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #ebcbb1 0%, #e4b186 49.57%);
  opacity: 0.39;
  z-index: -1;
}
.info_block {
  font-family: var(--second_font);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
.info_block > p {
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  color: #000;
}
.link {
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  color: #000;
}
.polyci_block {
  text-align: center;
  font-family: var(--second_font);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.footer_link {
  text-decoration: underline;
  cursor: pointer;
  font-size: 8px;
  white-space: nowrap;
  border: none;
  background: none;
  padding: 0;
}
.line {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 254px;
  height: 1px;
}
.social_media_block {
  margin: auto 0;
}
.block_social_icon {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.social_media_block > .block_social_icon > a {
  width: 48px;
}
.social_media_block > .block_social_icon > a:nth-child(1) {
  margin-left: 0;
}
.payment_icon {
  max-width: 130px;
  width: 100%;
  height: auto;
}
.policy_wrapp {
  display: none;
  max-width: 100%;
  height: calc(100% - 20px);
  overflow-y: auto;
  padding: 50px 20px;
  width: calc(100% - 20px);
  background-color: white;
  position: fixed;
  z-index: 111;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  border: solid 1px gray;
}
.policy_wrapp > h3 {
  font-family: var(--main_font);
  text-align: center;
  font-size: 32px;
  line-height: 1.22;
  margin-bottom: 50px;
}
.policy_wrapp > ul > li {
  font-family: var(--main_font);
  list-style: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 110;
  overflow: hidden;
}
#close_modal_policy,
#close_modal_policy2 {
  font-family: var(--main_font);
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 20px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

/* page 2 */
.hero-small-photo,
.hero-photo-small {
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
  margin-bottom: 40px;
  display: block;
  border-radius: 20px;
}
.hero {
  padding: 0 10px 0 10px;
}
.wrapp_main_img {
  background: var(--block_backround_color);

  border-radius: 20px;
  padding: 25px 20px;
}
.wrapp_main_img > picture > img {
  display: block;
  width: 100%;
  height: auto;
}
.wrapp_text {
  position: relative;
  padding: 30px 0 15px;
}
.decoration_images_left_page2 {
  position: absolute;
  z-index: -1;
  left: -80px;
  width: 108px;
  top: 90px;
  clip-path: polygon(50px 0, 100% 0, 100% 100%, 50px 100%);
}
.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_test {
  margin: 0 auto;
  font-family: var(--main_font);
  width: 100%;
}
.main_test > h1 {
  font-size: 32px;
  margin-bottom: 30px;
  line-height: 1.22;
  text-align: center;
}
.main_test > p {
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: var(--second_font);
}
.about_teacher_second {
  padding: 30px 0 15px;
}
.margin_feedback {
  padding: 100px 0;
}
.margin_page {
  padding: 100px 0;
}

.left_text_second {
  font-family: var(--second_font);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #25282d;
  margin-bottom: 30px;
  text-align: center;
}
.left_text_second > span {
  color: rgb(139, 0, 0);
  font-weight: 800;
}
.left_price_second {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  width: unset;
  font-family: var(--main_font);
}
.left_price {
  font-family: var(--main_font);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  color: rgb(139, 0, 0);
  text-align: center;
  margin-bottom: 30px;
}

.polyci_wrap {
  order: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info_block {
  order: 3;
}

.line:nth-of-type(1) {
  order: 2;
}

.line:nth-of-type(2) {
  order: 4;
}

.social_media_block {
  order: 1;
}

.info_block > .IPN {
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  color: #000;
  text-decoration: none;
}
.about_btn {
  opacity: 0;
}
.video_container {
  position: relative;
}
.img_prev {
  width: 100%;
  border-radius: 20px;
  height: 200px;
}
.video_tai {
  max-width: 100%;
  height: 200px;
  width: 94%;
  position: relative;
  margin-bottom: 30px;
}
.video_placeholder {
  max-width: 310px;
}

.video_iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: unset;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.block_yin_top_page2 {
  margin-bottom: 30px;
}

/*==================== main page =============================*/
.main_index {
  position: relative;
  border-radius: 20px;
  padding-top: 150px;
  padding-bottom: 150px;
  background: none;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  background: linear-gradient(
      57deg,
      rgba(0, 0, 0, 0.5) 40%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../img/main.JPG");
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.decoration_images_main {
  display: none;
  position: absolute;
  z-index: -1;
  left: -50px;
  width: 278px;
  height: 267px;
  top: 200px;
  clip-path: polygon(50px 0, 100% 0, 100% 100%, 50px 100%);
}

.decoration_images_main_right {
  position: absolute;
  z-index: -1;
  width: 134px;
  height: 383px;
  bottom: -90px;
  right: 0;
}

.main_container {
  padding-left: 20px;
  padding-right: 20px;
}
.main_index .wrapp_main_subtitle {
  margin-bottom: 40px;
}
.main_index .wrapp_main_text {
  margin-bottom: 0;
}
.direction {
  padding: 40px 0;
}
.direction_list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.direction_list_item {
  background-color: #002c43d9;
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
  padding: 15px;
  gap: 30px;
  border-radius: 20px;
  color: white;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  justify-content: space-between;
}
.direction_list_item div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.direction_list_item_title {
  font-size: 24px;
}
.direction_list_item_text {
  font-size: 20px;
}
.direction_list_item_link {
  width: 186px;
  font-size: 20px;
  line-height: 1.2;
  border: solid 2px transparent;
  border-color: white;
  background-color: transparent;
  margin: 0;
  color: white;
  height: 72px;
  padding: 10px 24px;
  font-family: var(--second_font);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.direction_list_item_link:hover,
.direction_list_item_link:focus {
  background-color: white;
  color: #002c43d9;
}

.record .container {
  padding: 0 20px;
}

.record-color {
  width: 100%;
  background: var(--block_backround_color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;

  gap: 40px;
}
.record_section_title {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.62;
  text-align: center;
}
.record_list {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
}
.record_list_item {
  border: 1px solid #002c43d9;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 30px;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  justify-content: space-between;
}
.record_list_item_title {
  font-size: 24px;
}
.record_list_item_text {
  font-size: 20px;
}
.record_list_item_link,
.individual_list_item_link {
  font-size: 16px;
  display: block;
  text-decoration: none;
  background-image: var(--btn_background_color);
  background-color: #0070aa;
  border: solid 2px transparent;
  border-radius: 33px;
  padding: 17px 24px;
  font-family: var(--second_font);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 208px;
  height: 53px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.record_list_item_link:hover,
.individual_list_item_link:hover,
.individual_list_item_link:focus,
.record_list_item_link:focus {
  color: black;
  border: solid 2px #002c43;
  background-image: none;
  background-color: transparent;
}

.regular {
  padding: 40px 0;
  position: relative;
}

.decoration_blue_image_regular {
  position: absolute;
  width: 134px;
  height: 382px;
  z-index: 12;
  bottom: -80px;
  left: 0px;
  opacity: 80%;
  display: none;
}

.decoration_orange_image_regular {
  position: absolute;
  z-index: 13;
  left: 74px;
  bottom: -30px;
  width: 76px;
  height: 76px;
  display: none;
}
.section_title {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.62;
  text-align: center;
  margin-bottom: 40px;
}
.regular_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.regular_list_item {
  width: 100%;
  background: var(--block_backround_color);
  border-radius: 20px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.regular_list_item_title {
  font-family: var(--second_font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.62;
  text-align: center;
}

.regular_sublist_time {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 10px;
}
.regular_sublist {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 460px;
}
.regular_sublist_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regular_sublist li {
  list-style: circle;

  text-align: left;
}
.regular_sublist_item_text,
.regular_list_item_text {
  font-family: var(--second_font);
  color: #25282d;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.bond_regular_list {
  font-weight: 700;
}
.individual {
  padding: 40px 0 80px;
}

.individual_img {
  width: 290px;
  height: 290px;
  border-radius: 200px;
}
.individual_list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.individual_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.individual_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: calc(100% - 50px);
  justify-content: space-between;
}
.individual_item_heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.62;
  text-align: center;
  font-family: var(--second_font);
  text-align: center;
  max-width: 530px;
}
.individual_item_img {
  width: 600px;
}
.individual_item_subheading {
  font-family: var(--second_font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.62;
  text-align: center;
  margin-bottom: 20px;
}
.individual_sublist_item_text {
  font-family: var(--second_font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #25282d;
}
/* psyhology */

.psychology {
  padding-bottom: 40px;
}

.psychology_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.psychology_wrap,
.coach_wrap,
.tai_wrap,
.tai_location_wrap,
.chan_wrap {
  position: relative;
  border-radius: 20px;
  background: none;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  display: flex;
  padding: 40px;
  gap: 50px;
  align-items: center;
  flex-direction: column;
}
.psychology_wrap::before,
.coach_wrap::before,
.tai_wrap::before,
.tai_location_wrap::before,
.chan_wrap::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #f2dfcf 0%, #ebcbb1 49.57%);
  opacity: 0.39;
  z-index: -1;
  border-radius: 20px 20px 0 0;
}

.psychology_title {
  font-weight: 500;
  text-transform: none;
}

.psychology_span {
  font-weight: 700;
}
.psychology_img,
.coach_img,
.tai_img,
.chan_img {
  border-radius: 20px;
  box-shadow: 0px 12px 24px 0px #818a8c;
}
.request,
.approach {
  padding: 40px 0;
}
.request {
  position: relative;
}

.decoration_img_psyh {
  position: absolute;
  left: 0;
  top: -70px;
  z-index: 5;
  display: none;
}
.education {
  padding: 40px 0;
}
.decoration_right_psyh {
  position: absolute;
  right: -25px;
  top: -180px;
  z-index: 5;
  width: 124px;
  height: 402px;
  display: none;
}
.education_container {
  font-size: 40px;
  line-height: 1.62;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 0;
  padding: 30px 10px;
  background: var(--block_backround_color);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.education_list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.education_item {
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  max-height: 480px;
  width: 400px;
  padding: 45px;
  display: block;
  flex: 0 0 auto;
  background-color: #002c43d9;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
.education_title {
  margin: 0;
}
.education_item p {
  height: unset;
  font-size: 20px;
  line-height: 1.5;
  font-family: var(--second_font);
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.education_center {
  margin: 0 auto;
  cursor: unset;
}
.approach {
  padding: 40px 0;
}
.approach > div > p {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--second_font);
}
.approach_text {
  margin-bottom: 20px;
}
.psycholog_contact {
  padding: 40px 0 80px;
  position: relative;
}
.psychology_list {
  width: 1115px;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  transition: opacity 0.8s ease, transform 0.8s ease;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.psychology_list > li {
  max-width: 250px;
  min-width: 195px;
  gap: 17px;
  text-align: center;
  width: 100%;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 8px;
}

.psychology_list > li > p {
  font-size: 20px;
  line-height: 1.5;
  font-family: var(--second_font);
  font-weight: 700;
  max-width: 185px;
}
.psychology_list li {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.telegram_btn,
.telegram_btn_marathon {
  width: 350px;
  height: 66px;
  font-size: 20px;
  line-height: 1.2;
  display: block;
  text-decoration: none;
  background-image: var(--btn_background_color);
  background-color: #0070aa;
  border: solid 2px transparent;
  border-radius: 33px;
  padding: 17px 24px;
  font-family: var(--second_font);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  color: #fff;
  margin: 0 auto;
  font-weight: 700;
  max-width: 100%;
}
.telegram_btn_marathon {
  height: 88px;
}

.telegram_btn:hover,
.telegram_btn_marathon:hover {
  color: black;
  border: solid 2px #002c43;
  background-image: none;
  background-color: transparent;
}
.psychology_list li.show,
.telegram_btn.show {
  opacity: 1;
  transform: translateY(0);
}

/* coach */
.coach_title {
  margin-bottom: 20px;
  text-transform: unset;
}
.coach_text {
  flex: 1;
}
.coach_text p {
  font-size: 28px;
  line-height: 1.5;
  font-family: var(--second_font);
  font-weight: 500;
  text-align: center;
}

.coach_wrap {
  padding-top: 120px;
  padding-bottom: 120px;
}
.coach {
  padding: 80px 0 40px;
  position: relative;
}
.coach_item {
  gap: 10px;
}
.coach_item p {
  margin-bottom: 0;
}

/* tai_chi */
.tai_container {
  padding: 0 40px;
}
.tai_wrap,
.chan_wrap {
  display: flex;
  gap: 50px;
}
.tai_text,
.chan_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.tai_text p,
.chan_text p {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--second_font);
  font-weight: 500;
  text-align: center;
}
.tai_title {
  margin-bottom: 0;
}
.tai_info {
  padding: 80px 0 40px;
}
.tai_info_text {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--second_font);
}
.tai_info_link {
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
  color: black;
}
.tai_info_title {
  margin-bottom: 0;
}
.tai_info_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tai_info_time {
  width: 100%;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  transition: opacity 0.8s ease, transform 0.8s ease;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.tai_info_time li.show {
  opacity: 1;
  transform: translateY(0);
}
.tai_info_time li {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
  max-width: 250px;
  min-width: 195px;
  gap: 17px;
  text-align: center;
  width: 100%;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 8px;
  height: 70px;
  font-size: 20px;
  line-height: 1.5;
  font-family: var(--second_font);
  font-weight: 700;
}
.tai_info_price li {
  max-width: 350px;
  height: 200px;
  padding: 35px;
}
.tai_location,
.tai_location2 {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--second_font);
  margin-bottom: 20px;
}
.tai_section,
.tai_price_section,
.tai_time_section {
  position: relative;
}

.about_teacher_wrapp_training {
  position: relative;
}
.tai_loc_section {
  padding-bottom: 40px;
}
.tai_location_section {
  padding: 40px 10px 80px;
}
.tai_location_chan {
  padding-bottom: 40px;
}
.tai_location_section a {
  height: 66px;
  width: 200px;
}

.tai_location_wrap {
  display: block;
}
.tai_location2 {
  margin-bottom: 40px;
}
.decoration_blue_tai {
  position: absolute;
  left: 0;
  display: none;
}
.decoration_orange_tai {
  position: absolute;
  left: 80px;
  display: none;
}
/* chan */
.chan_section {
  padding: 0 0 40px;
}
.chan_container {
  padding-right: 20px;
  padding-left: 20px;
}
.chan_deco {
  top: 550px;
}
.chan_info,
.chan_foundation {
  padding: 40px 0;
}
.chan_img {
  width: 500px;
  max-width: 100%;
}
.chan_wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}
.chan_foundation_wrap p {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--second_font);
}
/* adapt */

@media screen and (min-width: 386px) {
  .teacher_img,
  .teacher_img_chan {
    width: 320px;
    height: auto;
  }
  .video_tai {
    width: 370px;
  }
}

@media screen and (min-width: 430px) {
  .marathom_img {
    height: 400px;
  }
  form {
    width: 380px;
  }

  .video_placeholder {
    max-width: 590px;
  }
  .video_tai {
    width: 100%;
    height: 300px;
    max-width: 400px;
  }
  .second_list {
    gap: 30px 26px;
  }
  .feedback_item {
    width: 350px;
    display: block;
  }

  .main_test > p {
    width: unset;
  }
  .main_container_second {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img_prev {
    height: 300px;
  }
  .video_iframe {
    width: 100%;
  }
  .drop_list {
    width: 158px;
  }
  .drop_list2 {
    width: 164px;
  }
  .drop_list3 {
    width: 230px;
  }
}
@media screen and (min-width: 520px) {
  .video_tai {
    max-width: 500px;
  }
}
@media screen and (min-width: 600px) {
  /* .left_title {
    max-width: 600px;
  } */
}
@media screen and (min-width: 700px) {
  .left_list {
    max-width: 635px;
  }
}
@media screen and (min-width: 834px) {
  .decoration_img_psyh {
    display: unset;
  }
  .tai_text p,
  .chan_text p {
    font-size: 28px;
  }
  .tai_location_section {
    padding: 40px 60px 80px;
  }
  .decoration_images_main {
    display: unset;
  }
  .hero {
    padding: 0 10px 20px 10px;
  }
  .wrapp_text {
    padding: 20px 0;
  }
  .logo_text {
    display: block;
  }
  .header {
    padding: 25px 0;
  }
  .section_title {
    font-size: 46px;
  }
  .record_section_title {
    font-size: 46px;
  }
  .education_container {
    font-size: 46px;
  }
  .direction_list {
    flex-direction: row;
  }
  .individual_list {
    flex-direction: row;
  }
  .record_list {
    flex-direction: row;
  }

  .record_list_item {
    width: 40%;
  }
  .decoration_right_psyh {
    display: unset;
  }

  .regular_sublist_time {
    gap: 40px;
    flex-direction: row;
    margin-bottom: unset;
  }

  .individual_item_heading {
    font-size: 24px;
  }

  .main_index {
    padding-top: 300px;
    padding-bottom: 300px;
  }
  .record_list_item {
    padding: 45px;
  }

  .decoration_blue_image_regular {
    display: unset;
  }

  .decoration_orange_image_regular {
    display: unset;
  }

  .individual_wrap {
    height: 470px;
  }

  .direction_list_item {
    height: 284px;
  }
  .left_block {
    padding: 30px 22px;
  }
  .wrapp_about_consumer {
    padding: 20px 0;
  }
  .wrapp_video_block {
    padding-top: 20px;
  }
  .wrapp_main_subtitle {
    font-size: 24px;
    line-height: 1.62;
    letter-spacing: -0.04em;
  }
  .wrapp_main_title {
    font-size: 48px;
    line-height: 1.42;
    letter-spacing: -0.02em;
  }
  .wrapp_main_text {
    font-size: 20px;
    line-height: 1.5;
  }

  /* .wrapp_main_text2 {
    margin-bottom: 0;
  } */

  .right_block_form > h2 {
    font-size: 40px;
    line-height: 1.62;
  }
  .second_block {
    padding: 100px 0;
  }
  .last_right_deko {
    width: 107px;
    height: 300px;
  }
  .wrapp_feedback_block {
    padding: 20px 0;
  }
  .wrapp_block_form {
    padding: 20px 0 0;
  }
  .form_info {
    width: 498px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 36px;
  }
  .form_price {
    font-size: 20px;
    line-height: 1.5;
  }
  .left_text_second {
    font-size: 24px;
    line-height: 1.5;
    max-width: 818px;
  }
  .left_price_second {
    font-size: 24px;
    line-height: 1.62;
  }
  .left_price {
    font-size: 24px;
    line-height: 1.62;
  }
  .buy_course_btn {
    width: 206px;
    height: 66px;
    font-size: 20px;
    line-height: 1.2;
  }
  .about_btn {
    width: 228px;
    height: 67px;
  }
  .left_title {
    font-size: 40px;
    line-height: 1.62;
    /* width: 530px; */
  }
  .left_list {
    padding: 0;
    margin-bottom: 20px;
    max-width: 718px;
  }

  .wrapp_about_product {
    gap: unset;
  }
  .wrapp_decoration_block {
    padding: 40px 0 20px;
  }
  .decoration_images_left {
    width: 288px;
    height: 288px;

    top: -240px;
  }
  .direction_list_item_title {
    font-size: 20px;
  }
  .decoration_images_right {
    width: 84px;
    height: 278px;
    bottom: 236px;
  }
  .about_title {
    font-size: 40px;
    line-height: 1.62;
    width: 560px;
    margin-bottom: 30px;
  }
  .about_text {
    font-size: 24px;
    line-height: 1.62;
    margin-bottom: 30px;
    width: 718px;
  }

  .about_text_marathon2 {
    margin-bottom: 0;
  }

  .block_yin {
    gap: 80px;
    margin-bottom: 30px;
  }

  .block_yin > li > img {
    width: 70px;
    height: 70px;
  }
  .block_yin > li > p {
    font-size: 20px;
    line-height: 1.5;
  }
  .block_text {
    font-size: 40px;
    line-height: 1.62;
    max-width: unset;
  }
  .second_list {
    gap: 30px;
    margin-bottom: 30px;
  }
  .consumer_title {
    font-size: 40px;
    line-height: 1.62;
    margin-bottom: 30px;
  }
  .item_consumer_text,
  .block_yin_item {
    padding: 20px 50px;
  }
  /* .item_consumer_text > h3 {
    font-size: 24px;
    line-height: 1.62;
  } */
  .item_consumer_text > p,
  .block_yin_item > p {
    max-width: 718px;
    font-size: 20px;
    line-height: 1.5;
  }
  .decoration_blue_image {
    display: unset;
    left: -80px;
    top: -210px;
    width: 288px;
    height: 288px;
    clip-path: polygon(80px 0, 100% 0, 100% 100%, 80px 100%);
  }
  .decoration_orange_image {
    display: unset;
    width: 123px;
    height: 123px;
    top: -40px;
  }
  .wrapp_about_product_down {
    padding: 0 170px;
  }
  .feedback_container {
    padding: 30px 20px;
    max-width: unset;
  }
  .feedback_container_training {
    padding-bottom: 60px;
  }
  .feedback_item {
    width: 550px;
    max-height: 550px;
    padding: 45px;
  }
  .profession {
    margin-bottom: 30px;
  }
  .feedback {
    font-size: 20px;
    line-height: 1.5;
    height: 100%;
  }
  .feedback_item > div > p {
    font-size: 20px;
    line-height: 1.5;
  }

  .feedback_title {
    font-size: 40px;
    line-height: 1.62;
    margin-bottom: 30px;
  }
  .about_teacher_wrapp {
    padding: 20px 0;
  }
  .about_teacher_wrapp_part {
    padding-top: 20px;
  }
  .teacher_img,
  .teacher_img_chan {
    width: 419px;
    height: 382px;
    margin-bottom: 30px;
  }

  .wrapp_left_block_teacher > div > .name_teacher {
    font-size: 24px;
    line-height: 1.62;
  }
  .teacher_list_text {
    font-size: 20px;
    line-height: 1.5;
  }
  .wrapp_left_block_teacher > .text_about_teacher {
    letter-spacing: unset;
    font-size: 20px;
    line-height: 1.5;
  }
  .block_logo > img {
    width: 84px;
    height: 84px;
  }
  .main_test {
    max-width: 818px;
  }
  .main_test > h1 {
    font-size: 40px;
    line-height: 1.62;
  }
  .main_test > p {
    font-size: 24px;
    line-height: 1.62;
  }
  .decoration_images_left_page2 {
    position: absolute;
    z-index: -1;
    left: -80px;
    top: 0;
    width: 258px;
    clip-path: polygon(80px 0, 100% 0, 100% 100%, 80px 100%);
  }
  .video_tai {
    max-width: 590px;
    width: 100%;
    height: 300px;
  }
  .wrapp_left_block_teacher > h2 {
    font-size: 40px;
    line-height: 1.62;
  }
  .left_text {
    font-size: 20px;
    line-height: 1.5;
  }
  .left_subtitle {
    font-size: 24px;
    line-height: 1.62;
  }
  .form_access {
    font-size: 20px;
    line-height: 1.5;
  }
  #submit_form_btn {
    font-size: 20px;
  }
  .block_yin > li {
    max-width: 210px;
  }
  .about_teacher_second {
    padding: 40px 0 20px;
  }
  .wrapp_left_block_teacher {
    max-width: 818px;
  }
  .education_title {
    margin: 0;
  }
  .tai_info_title {
    margin-bottom: 0;
  }
  .tai_info_time {
    flex-direction: row;
    width: 1115px;
  }
  .decoration_blue_tai {
    display: unset;
  }
  .decoration_orange_tai {
    display: unset;
  }
  .block_align {
    max-width: 750px;
  }
  .chan_wrap {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 950px) {
  .video_tai {
    height: 350px;
  }
  .teacher_img,
  .teacher_img_chan {
    width: 519px;
    height: 470px;
  }

  .img_prev {
    height: 350px;
  }
  .direction_list_item {
    height: 248px;
  }
  .psychology_list {
    flex-direction: row;
  }
}
@media screen and (min-width: 1040px) {
  .nav_mob {
    display: none;
  }

  .nav {
    display: flex;
  }

  .burger {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .psychology_wrap,
  .coach_wrap,
  .tai_wrap,
  .tai_location_wrap,
  .chan_wrap {
    flex-direction: row;
  }
  .wrapp_main_text2 {
    max-width: 60%;
  }
  .header {
    padding: 10px 0;
  }
  .hero {
    padding: 0px 10px 40px;
  }
  .hero_container {
    padding: 0 20px;
  }
  .wrapp_header {
    padding: 0 50px;
    justify-content: unset;
  }

  .wrapp_text {
    padding: 40px 0;
  }
  .video_container {
    padding: 0 20px;
  }
  .left_block {
    max-width: unset;
    padding: 40px 0;
    height: unset;
  }
  .video_placeholder {
    max-width: unset;
    height: 300px;
    width: auto;
    margin-bottom: 40px;
  }
  .block_align {
    max-width: unset;
  }
  .about_title {
    width: unset;
    margin-bottom: 40px;
    font-size: 46px;
    line-height: 1.62;
  }
  .about_text {
    width: 1040px;
    margin-bottom: 40px;
  }
  .direction_list_item {
    width: 550px;
    padding: 45px;
    height: unset;
  }
  .about_text_marathon2 {
    margin-bottom: 0;
  }

  .block_yin {
    width: 906px;
    gap: unset;
    margin-bottom: 40px;
  }

  .about_btn {
    width: 206px;
    height: 66px;
  }
  .wrapp_decoration_block {
    padding: 80px 0 40px;
  }
  .wrapp_about_consumer {
    padding: 40px 0;
  }
  .consumer_title {
    font-size: 46px;
    line-height: 1.62;
    margin-bottom: 40px;
  }
  .decoration_blue_image_regular {
    width: 184px;
    height: 432px;
    top: 640px;
  }
  .decoration_orange_image_regular {
    bottom: 400px;
    width: 96px;
    height: 96px;
  }
  .for_adapt_height {
    padding: 40px 100px;
    align-items: center;
    position: relative;
  }
  .left_title {
    text-align: center;
    font-size: 46px;
    line-height: 1.62;
    width: unset;
    margin-bottom: 40px;
  }
  .left_text {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
  }
  .left_list {
    margin-bottom: 30px;
    max-width: 1040px;
  }
  .left_subtitle {
    font-size: 24px;
    line-height: 1.62;
    text-align: left;
    margin-bottom: 40px;
  }
  .wrapp_video_block {
    position: relative;
    padding-top: 40px;
  }
  .video_second {
    height: 270px;
    margin-bottom: 40px;
  }
  .hero-small-photo,
  .hero-photo-small {
    height: 300px;
  }
  .form_info {
    font-size: 20px;
    line-height: 1.5;
    width: unset;
  }
  .decoration_images_left {
    clip-path: polygon(10px 0, 100% 0, 100% 100%, 10px 100%);
    left: -10px;
    top: -250px;
  }
  .main_test > h1 {
    font-size: 46px;
    width: 900px;
    margin-bottom: 40px;
  }
  .decoration_images_right {
    clip-path: unset;
    width: 134px;
    height: 383px;
    bottom: 0;
    right: 0;
  }
  .decoration_blue_image {
    width: 184px;
    height: 432px;
    z-index: 1;
    top: -370px;
  }
  .decoration_orange_image {
    z-index: 2;
    top: -110px;
  }
  .block_text {
    font-size: 46px;
    line-height: 1.62;
    margin-bottom: 40px;
  }
  .second_list {
    width: 1115px;
    gap: 30px;
    margin-bottom: 40px;
  }
  .block_yin > li {
    max-width: 250px;
    min-width: 195px;
  }

  .block_yin > li:nth-child(3) > img {
    margin-bottom: 0;
  }
  .feedback_container {
    border-radius: 0;
    padding: 40px 10px;
    font-size: 46px;
    line-height: 1.62;
  }
  .feedback_container_training {
    padding-bottom: 80px;
  }
  .feedback_title {
    margin-bottom: 40px;
    font-size: 46px;
    line-height: 1.62;
  }
  .feedback {
    height: unset;
    font-size: 20px;
    line-height: 1.5;
  }
  .feedback_item {
    max-height: 480px;
  }
  .item_consumer_text > p,
  .block_yin_item > p {
    font-size: 20px;
    line-height: 1.5;
    width: 701px;
  }
  .item_consumer_text > p.consumer_text_last {
    width: 701px;
  }
  .wrapp_left_block_teacher {
    align-items: center;
    max-width: 1040px;
  }
  .teacher_container {
    gap: 40px;
  }
  .wrapp_feedback_block {
    padding: 40px 0 0;
  }
  .wrapp_block_form {
    padding: 40px 0 0;
  }
  .teacher_img,
  .teacher_img_chan {
    width: 419px;
    height: 382px;
    margin-bottom: 0;
  }
  .teacher_img_chan {
    margin-bottom: 40px;
  }
  .wrapp_left_block_teacher > h2 {
    font-size: 46px;
    line-height: 1.62;
    margin-bottom: 25px;
  }
  .wrapp_left_block_teacher > div > .name_teacher {
    font-size: 24px;
    line-height: 1.62;
    text-align: center;
  }
  .wrapp_left_block_teacher > ul {
    width: unset;
    align-items: center;
    gap: 0;
  }
  .wrapp_left_block_teacher > .text_about_teacher {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
  }
  .teacher_list_text {
    font-size: 20px;
    line-height: 1.5;
  }
  .about_teacher_wrapp {
    padding: 80px 0 40px;
  }
  .about_teacher_wrapp_training {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .about_teacher_wrapp_part {
    padding-top: 40px;
  }
  .form_container {
    flex-direction: row;
    padding: 0;
  }
  .left_block_form {
    width: 50%;
    padding: 152px 170px;
    border-radius: 20px 0 0 0;
  }
  .left_block_form::before {
    border-radius: 20px 0 0 0;
  }
  .right_block_form {
    width: 50%;
    max-width: unset;
    padding: 20px 40px;
    margin-bottom: 0;
    border-radius: 0 0 20px 0;
    position: relative;
    bottom: -40px;
    background: white;
  }
  .right_block_form2 {
    height: 510px;
    padding-top: 80px;
  }
  .right_block_form3 {
    height: 510px;
    padding-top: 40px;
  }
  #submit_form_btn {
    width: 206px;
    height: 66px;
    font-size: 20px;
  }
  #submit_form_btn.submit_form_btn {
    padding: 19px 32px;
  }
  .right_block_form > h2 {
    text-align: center;
    font-size: 46px;
    line-height: 1.62;
    margin-bottom: 40px;
  }
  .right_block_form > p {
    text-align: center;
    margin-bottom: 40px;
  }
  .last_right_deko {
    width: 154px;
    height: 432px;
    right: 0;
    bottom: 250px;
  }
  .footer_container {
    padding: 0;
  }
  .wrapp_footer {
    padding: 50px 50px 20px;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
  }
  .line {
    width: 1px;
    height: 130px;
  }
  .polyci_wrap {
    order: 3;
  }
  .info_block {
    order: 1;
    align-items: flex-start;
    padding-top: 28px;
  }

  .line:nth-of-type(1) {
    order: 2;
  }

  .polyci_block {
    padding-top: 28px;
    margin-bottom: 16px;
    width: 388px;
    gap: 5px;
  }
  .payment_icon {
    width: 246px;
    max-width: unset;
  }

  .line:nth-of-type(2) {
    order: 4;
  }

  .social_media_block {
    order: 5;
    width: 388px;
  }
  .video_tai {
    max-width: unset;
    margin-bottom: 40px;
    height: 350px;
    width: 650px;
  }
  .img_prev {
    height: 350px;
    width: 650px;
  }
  .left_title_second {
    text-align: center;
    width: unset;
  }
  .left_price_second {
    font-size: 24px;
    line-height: 1.62;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    width: unset;
  }
  .left_price {
    font-size: 24px;
    line-height: 1.62;
    font-weight: 700;
    color: rgb(139, 0, 0);
    text-align: center;
    margin-bottom: 40px;
  }
  .left_block_second {
    align-items: center;
    position: unset;
  }
  .last_right_second {
    width: 120px;
    height: 332px;
    bottom: 320px;
  }
  .direction_list_item_title {
    font-size: 24px;
  }
  .main_test > p {
    width: 1040px;
  }
  .main_test {
    max-width: 1040px;
    min-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info_block > p {
    text-align: left;
  }
  .info_block > p {
    font-size: 12px;
  }
  .info_block > .IPN {
    font-size: 12px;
  }
  .link {
    font-size: 12px;
  }
  .footer_link {
    font-size: 12px;
  }
  .video_iframe {
    height: 350px;
    width: 650px;
    position: relative;
  }
  .img_prev {
    border-radius: 20px;
  }
  .wrapp_about_product_down {
    padding: 0 120px;
  }
  .age {
    font-size: 20px;
    line-height: 1.5;
  }
  .profession {
    font-size: 20px;
    line-height: 1.5;
  }
  .name {
    font-size: 20px;
    line-height: 1.5;
  }
  .left_text_second {
    max-width: 1040px;
    margin-bottom: 40px;
  }
  .wrapp_main_text {
    margin-bottom: 40px;
  }

  .education_title {
    margin: 0;
  }
  .tai_info_title {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .video_placeholder {
    height: 360px;
  }
  .video_second {
    height: 300px;
  }
  .left_block_second {
    padding: 70px 280px 70px 151px;
    position: relative;
  }
  .main_test {
    width: 1100px;
  }
  .about_text {
    width: 1100px;
  }
  /* .feedback_container {
    max-width: 1440px;
  } */
  .video_tai {
    height: 350px;
    width: 650px;
  }
  .last_right_deko {
    bottom: 300px;
  }
  .polyci_block > li {
    height: unset;
  }
  .wrapp_video_block {
    position: unset;
  }
  .video_iframe {
    height: 350px;
    width: 650px;
    position: relative;
  }
  .for_adapt_height {
    padding: 40px 150px;
  }
  .wrapp_about_product_down {
    padding: 0 160px;
  }
  .left_text_second {
    max-width: 1100px;
  }
  .wrapp_left_block_teacher {
    max-width: 1100px;
  }
  .main_test > p {
    width: 1100px;
  }
  .left_list {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1690px) {
  .feedback_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1860px;
  }
}
/* list animation */
.anim-fade-in > li:nth-child(1) {
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.anim-fade-in > li:nth-child(2) {
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.anim-fade-in > li:nth-child(3) {
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.anim-fade-in > li:nth-child(4) {
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.anim-fade-in > li:nth-child(5) {
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

.btn-anim {
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
}
